extends layout 

block layout-content
    h1 Add a new skill
    a(href="/admin/skill") Back to skills
    form(action="/admin/skill/add", method="post") 
        p
            label Skill Name:
            input(type="text", name="skillName", required)
        p 
            label Skill Level:
            input(type="text", name="skillLevel", required)
        button(type="submit") Add Skill