doctype html 
html 
    head
        meta(charset="utf-8") 
        title Portfolio Website
        link(rel="stylesheet", href="/css/styles.css")
    body
    main#main
      p 
        a(href="/skill") Skills Page 
      p
        a(href="/project") Projects Page
      block layout-content 
    footer#footer 
      div &copy; Copyright Abraham Adeniyi, 2025.
