extends layout 

block layout-content
    h1 My Skills
    a(href="/admin/skill/add") Add a new skill
    ul
        each s in skills 
            li 
                strong  #{s.name} - #{s.level}
                p
                    button: a(href=`/admin/skill/update?id=${s.id}`) Update
                form(action="/admin/skill/delete", method="POST")
                    input(type="hidden", name="id", value=s.id)
                    button(type="submit") Delete