extends layout 

block layout-content
    h1 Update Skill 
    a(href="/admin/skill") Back to Skills
    form(action="/admin/skill/update", method="POST")
        p
            label Skill:
            input(type="text", name="name", value=name, readonly)
        p
            label New Level:
            input(type="text", name="newLevel", required)
        button(type="submit") Update Skill

